<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="udacity.popular.tejeswar.popularmovie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity

            android:name=".activities.MovieActivity"

            android:label="@string/app_name"

            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>

                  <action android:name="android.intent.action.MAIN"/>

                  <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity

            android:name="udacity.popular.tejeswar.popularmovie.activities.MovieDetailActivity"

            android:label="@string/title_movie_detail"

            android:parentActivityName="udacity.popular.tejeswar.popularmovie.activities.MovieActivity"

            android:theme="@style/AppTheme.NoActionBar">

            <meta-data

                android:name="android.support.PARENT_ACTIVITY"

                android:value="udacity.popular.tejeswar.popularmovie.activities.MovieActivity" />

        </activity>

        <activity

            android:name="udacity.popular.tejeswar.popularmovie.activities.SettingsActivity"

            android:label="@string/title_activity_settings"

            android:parentActivityName="udacity.popular.tejeswar.popularmovie.activities.MovieActivity"

            android:theme="@style/SettingsTheme" />

        <activity

            android:name="udacity.popular.tejeswar.popularmovie.flowadapter.MainCarousel"

            android:label="@string/action_favorite" />

        <activity

            android:name="udacity.popular.tejeswar.popularmovie.activities.FavouriteListActivity"

            android:label="@string/title_favorite_list"

            android:parentActivityName="udacity.popular.tejeswar.popularmovie.activities.MovieActivity"

            android:theme="@style/AppTheme.NoActionBar">

            <meta-data

                android:name="android.support.PARENT_ACTIVITY"

                android:value="udacity.popular.tejeswar.popularmovie.activities.MovieActivity" />

        </activity>

        <provider

            android:authorities="udacity.popular.tejeswar.popularmovie"

            android:name="udacity.popular.tejeswar.popularmovie.database.MovieOperations"

            android:exported="false"

            android:syncable="true" />


    </application>

</manifest>